*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: .3rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(36, 34, 34);
    color: #fff;
}
.container{
    width: 35%;
    height: 35vh;
    color: #808888;
    margin: .5em;
    border-bottom: 2px solid #000;
    background-color: rgba(204, 200, 200, 0.23);
}
p{
    font-size: 1.7em;
    text-align: center;  
}
.list{
    display: flex;
    justify-content: center;
}
li{
    padding: .3rem;
    font-size: 1.3em;
    list-style-type: none;
}
main{
    padding: 2rem;
}
/* button{
    border: none;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3em;
    background-color: #09e;
} */

.angelus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

button {
    display: inline-block;
    background-color: #49a;
    color: #fff;
    border: none;
    padding: 1rem;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: inherit;
  }